@{Layout = "_Layout";}

<div class="container mt-2">
  <div class="h-100 p-5 bg-info border rounded-3 text-center">
  @* <div class="jumbotron jumbotron-fluid"> *@
    <h1 class="display-4">MESSAGE BOARD</h1>
    <hr class="my-4">
    <p class="lead"></p>
  </div>
</div>